<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/content/style.css"> 
</head>

<body>
<div class="grid-container">
  <div class="nav">
    <h1>Jawaxript</h1>
    <a href="/blogs">BLOGS <Br></a>
    <a href="/about">ABOUT</a>
  </div>



  {% for post in posts %}
    <div class="poast">
      <p>
        {% include "./posts/" + post %}
      </p>
    </div>
  {% endfor %}
</main>

</body>
</html>